.board {
  width: 31rem;
  height: 31rem;
  margin: auto;
  display: flex;
  border: none;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  width: 32.9%;
  height: 33%;
  border: .5px solid black;
  display: flex;
  align-items: center;
  align-content: center;
}

.square:hover {
  background-color: lightblue;
  cursor: pointer;
}
